
        form,input,textarea,button{
            display: inline-block;
            margin: auto;
            text-align: center;
            margin-bottom: 30px;
        }
        form{
            width: 100%;
        }
        input{
            width: 30%;
        }
        textarea{
            width: 90%;
        }
        button{
            width: 25%;
            border: 0;
            background-color: black;
            color: white;
            height: 30px;
            line-height: 30px;
        }
    